# Python virtual environment
.venv/
.env

# macOS metadata
.DS_Store
theBot/.DS_Store
theBot/trade_bot/.DS_Store

# VS Code workspace
.vscode/
*.code-workspace

# Logs and runtime files
*.log
*.csv

# Ignore all Jupyter Notebooks
*.ipynb

# Notebooks output (optional)
*.ipynb_checkpoints/

# Optional - any local data
theBot/trade_bot/data/
theBot/trade_bot/reports/