# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual environment
.venv/
venv/
env/

# VS Code settings
.vscode/
*.code-workspace

# Environment variables
.env
.env.*

# Jupyter Notebook checkpoints and notebooks
.ipynb_checkpoints/
*.ipynb

# macOS system files
.DS_Store

# Logs and reports
*.log
*.csv

# Docker
*.tar
docker-compose.override.yml

# Local test files or scratch code
theBot/misc/
theBot/*.ipynb

# Ignore compiled C extensions (if ever used)
*.so

# Ignore test outputs and data
theBot/trade_bot/data/
theBot/trade_bot/reports/